/* Fonts
=========*/
@font-face {
    font-family: 'roboto';
    src:         url('../font/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style:  normal;
}


/* Variables LESS
================*/
@font-base:         14pt;
@max-menu-width:    1152px;
@max-content-width: 1024px;
@min-page-width:    985px;
@button-color:      #336699;
@text-color:        #666666;
@white:             #FBFBFF;


/* Éléments généraux
===================*/
html, body {
  font-family:      'roboto', arial, sans-serif;
	margin:           0;
	background-color: @white;

	p, a, article, label, input, textarea, button, select {
  	font-size: @font-base;
	}
}

input, textarea {
  padding: 10px;
  color:   @text-color;
}


/* En-tête
==========*/
header {
	margin:           auto;
	text-align:       center;
	width:            100%;

  input {
  	background-color: rgba(255, 255, 255, 0.6);
  	border:           none;
  }

  nav {
  	background-color: @button-color;

  	a {
    	color:           @white;
    	text-decoration: none;
    	text-align:      center;
    	padding:         20px 0;
    }
  }
}


/* Contenu
==========*/
main {
	margin: auto;

	h1, h2, p, label, article {
	  color: @text-color;
	}

  *:last-child {
    margin-bottom: 50px;
  }
}

form:not(.nostyle) {
  label, input:not[type=date], textarea {
  	display: block;
  }

  input:not[type=date], textarea {
    margin-bottom: 20px;
  }

  textarea {
    resize: none;
  }

  select {
     background:         white;
     padding:            12px;
     border:             0;
     border-radius:      0;
     -webkit-appearance: none;
     color:              @text-color;
  }

  button {
    float: right;
  }
}

button {
  min-width:        150px;
  height:           50px;
  background-color: @button-color;
  color:            @white;
  cursor:           pointer;
  border:           none;
}

table:not(#infocompte) {
  border-collapse: collapse;

  th {
   font-weight:      bold;
   background-color: @button-color;
   color:            @white;
  }

  th, td {
    border:  1px solid @text-color;
    padding: 10px;
  }

  td {
    color: @text-color;

    &:first-child {
      width: 430px;
    }

    &:last-child {
      width:      70px;
      text-align: right;
    }
  }

  tr {
    cursor: pointer;

    &:hover {
      background-color: fade(@button-color, 30%);
    }
  }
}

/* Pied de page
===============*/
footer {
  clear:    both;
  position: relative;
	width:    100%;
	height:   150px;

	div {
  	position:   absolute;
  	bottom:     0;
		color:      @white;
		margin:     auto;
		text-align: center;
	}

  a {
    color:           @white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


/* Class
========*/
.admn_connected {
  color:      #000;
  margin-top: 5em;
}

.checkbox-container {
  width: 110%;

  * {
    display:        inline-block;
    vertical-align: baseline;
  }

  input {
    width: auto;
  }

  label {
    white-space: nowrap;
  }
}

.desactive {
  cursor: default;
}

.desuet {
  background-color: #BBB;
}

.enstock {
  background-color: #A0B389;
}

.required {
  color: red;
}

.float-left {
  float: left;
}

.invalid{
  color: red;
}

.oi {
  font-size: smaller;
}

.right {
  float: right;
}

.small {
  font-size: smaller;
}

//TODO
.borderless {

  tr, th, td {

  }
}

/* ID
========*/
#overlay {
  display:          none;
  z-index:          1;
  position:         fixed;
  top:              0;
  left:             0;
  width:            100%;
  height:           100vh;
  background-color: rgba(0, 0, 0, .7);
}

#btnrenouv {
  margin-top: 15px;
}

#connection {
  margin-top: 1em;
}

#contact-form input, textarea {
  margin-bottom: 1em;
  margin-top:    0.5em;
}

#signalement {
  display: none;
  z-index:          1;
  position:         fixed;
  top:              0;
  left:             0;
  width:            100%;
  height:           100vh;
  background-color: rgba(0, 0, 0, .7);

  form {
    margin: auto;
    margin-top: 10%;
    max-width: 590px;
    }
    div {
      display: block;

      button {
        display: inline-block;
      }
    }
    textarea {
      width: 500px;
      height: 200px;
    }

     button {
      &:last-child {
        margin-right: 20px;
      }
    }
}

#search-form {
  width: fit-content;
  margin-top: 25px;

  [type=search] {
    border: 1px solid @text-color;
    width: 100%;
  }

  .radio-group {
    width: 100%;
    margin: 10px 0;
  }
}

/* Attribut
===================*/
[data-state=subscribed] {
  cursor: pointer;
  color: #F6D300;
}

[data-state=unsubscribed] {
  cursor: pointer;
  color: grey;
}

/* Spécifique au formulaire de coordonnées
==========================================*/
#overlay {
  form {
    margin: auto;

    button {
      &:last-child {
        margin-right: 20px;
      }
    }
  }
}
